.Reloj {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.horas, .minutos, .segundos, .milisegundos {
    background: gray;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 60px;
    color: white;
    border-radius: 10px;
}

.alarma {
    background: grey;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    border-radius: 10px;
    margin-right: 20px;
}
